@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

/* variables */

.plugin-container {
    --plugin-primary-light: #fefefe;
    --plugin-primary: #fcfcfc;
    --plugin-dark: #1a1a1a;
    --plugin-write: #484848;
    --plugin-border: #efefef;
    --plugin-secondary: #acff75;
    --plugin-font-primary: 'Roboto', sans-serif;
}

/* global */

.plugin-container * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.book-card * {
    font-family: var(--plugin-font-primary);
    color: var(--plugin-dark);
}

.book-card p,
.book-card a,
.book-card span {
    font-size: 0.84vw;
    color: var(--plugin-write);
}

@media screen and (max-width:1600px) {


    .book-card p,
    .book-card a,
    .book-card span {
        font-size: 0.92vw;
    }

}

@media screen and (max-width:800px) {

    .book-card p,
    .book-card a,
    .book-card span {
        font-size: 3.2vw;
    }
}


/***  components  ***/

/* headings  */

.book-card h1 {
    font-size: 2.4vw;
}

.book-card__excerpt-frame h3 {
    font-size: 1.8vw;
    margin: auto 0 1rem;
}

@media screen and (max-width:800px) {
    .book-card h1 {
        font-size: 6.4vw;
    }

    .book-card__excerpt-frame h3 {
        font-size: 5.4vw;
    }

}


/* links, span, buttons  */

.book-card a,
.book-card span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem;
    min-width: 4.8vw;
}

.book-card a {
    border: 1px solid var(--plugin-border);
}

.book-card a:hover {
    background-color: var(--plugin-dark);
    border-color: var(--plugin-dark);
    color: var(--plugin-primary-light);
}

.book-card span {
    background-color: var(--plugin-secondary);
}

.book-card__excerpt-frame__body button,
.book-card__option-frame svg {
    cursor: pointer;
    display: flex;
    border: unset;
}

.book-card__excerpt-frame__body button {
    background-color: var(--plugin-secondary);
    border-radius: 50%;
    padding: 1vw;
}

.book-card__excerpt-frame__body button:hover{
    background-color: var(--plugin-write);
}

.book-card__excerpt-frame__body button:hover svg{
    fill:var(--plugin-primary);
    /* stroke:var(--plugin-primary); */
}

@media screen and (max-width:800px) {

    .book-card a {
        min-width: 16vw;
    }


}



/* paragraphs */

.book-card p {
    font-style: italic;
}

.book-card__excerpt-frame p {
    text-align: justify;
}

/* layout container */

.plugin-container {
    width: auto;
    margin: auto 16%;
    padding: 2.4vw;
    background-color: var(--plugin-primary);
}

.plugin-container .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (max-width:1600px) {
    .plugin-container {
        margin: auto 10%;
        padding: 2vw;
    }
}

@media screen and (max-width:800px) {
    .plugin-container {
        margin: auto;
        padding: 2rem;
    }

    .plugin-container .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


/* layout card  */

.book-card {
    display: grid;
    grid-template-rows: repeat(3, auto);
    height: auto;
    grid-gap: 1rem;
    background-color: var(--plugin-primary-light);
    border: 1px solid var(--plugin-border);
    border-radius: 1px;
    transition: 0.32s ease-out;
}

.book-card,
.book-card__option-frame {
    min-width: 20vw;
}

.book-card__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 2vw 0;
}

.book-card__body {
    display: grid;
    grid-gap: 1rem;
    padding: 2vw 2vw 0;
}

.book-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

.book-card__header img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.book-card__option-frame {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem;
    background-color: var(--plugin-secondary);
    /* border:1px solid red; */
}

.book-card__excerpt-frame {
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    background-color: var(--plugin-primary);
    border: 1px solid var(--plugin-border);
    height: 28vw;
    max-width: 20vw;
    padding: 2vw;
}

.book-card__excerpt-frame__body div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

@media screen and (max-width:1600px) {

    .book-card,
    .book-card__option-frame {
        min-width: 24vw;
    }


    .book-card__excerpt-frame {
        min-width: 24vw;
        height: 32vw;
    }


}

@media screen and (max-width:800px) {

    .book-card__excerpt-frame,
    .book-card__option-frame {
        width: -webkit-fill-available;
        min-width: -webkit-fill-available;
        left: 0;
        margin: auto 2rem;
    }

    .book-card__excerpt-frame {
        height: auto;
        min-height: 115vw;
        padding: 6vw;
    }

    .book-card__header,
    .book-card__body,
    .book-card__footer {
        padding: 6vw;
    }

    .book-card__excerpt-frame__body div {
        padding: 6vw;
    }

}